<mat-card>
  <h1 class="title">Bookmarks list</h1>
  <a class="button" routerLink="/table">
    <button mat-flat-button color="secondary">
      <mat-icon>table</mat-icon>
    </button>
  </a>
  <a  class="button" routerLink="/form">
    <button mat-flat-button color="primary">
      New bookmark <mat-icon>add</mat-icon>
    </button>
  </a>

  <ul *ngFor="let group of bookmarkGroups | keyvalue">
    <li>{{group.key}}</li>
    <ul *ngFor="let bookmark of group.value">
      <li>
        {{bookmark.name}} - <a [href]="bookmark.url" target="_blank">{{bookmark.url}}</a>
        <button mat-flat-button color="warn" class="ml-15 mb-10" (click)="delete(bookmark)">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>
  </ul>
</mat-card>
